shet.py
test.py
test1.py
.vs/Script1.js
AI_ML_Projects/daily_quote.py
.vs
.vscode
AI_ML_Projects
__pycache__
files
Tutorial_Projects
AI_ML_Projects/file_organizer.py
to-do_app/mods/experiments/texts/functions.txt
to-do_app/mods/experiments/weather.csv
to-do_app/mods/borws.py
to-do_app/mods/experiments/texts/yow.txt
to-do_app/mods/experiments/texts/hola.txt
to-do_app/mods/experiments/texts/hello.txt
to-do_app/mods/experiments/texts/hallo.txt
to-do_app/mods/SHUT.py
to-do_app/mods/glob.py
to-do_app/mods/CSV.py
